{% extends "templates/generic_frame.html" %}
{% block stylesheets %}
<link rel=stylesheet href="/stuff/chat.css">
<link rel=stylesheet href="/stuff/game.css">
<script src="/stuff/ajax_init.js"></script>
<script src="/stuff/game.js"></script>

<script>
thisGameId = {{game.id}};
myName = "{{username}}";
$(function(){
	//chatInit();
	heartBeat();
});
</script>
{% endblock %}
{% block title %}
Game {{game.id}}
{% endblock %}

{% block heading %}
{{ game.name }}
{% endblock %}

{% if message %}
{% block footermessage %}
{{ message }}
{% endblock %}
{% endif %}


{% block maincontent %}
<div id="content">
	<div id="cleft">
		<div id="clhead">
		<!-- dear interested user looking at my source code, please accept my profuse apologies for the following line. The moment CSS stops sucking, I will stop writing atrocious code. -->
		<table height=100% width=100%><tr><td class="teamheader">Team Red</td></tr></table>
		</div>
		<div id="clmid" class="teamlist">
		{% for player in t1users %}
		<div>{{ player.username }}</div>
		{% endfor %}
		</div>

	</div>
	<div id="cmid">
		<div id="cmhead"><table width=100% height=100%><tr><td class="teamheader">
		<div id="cmhneut" style="padding-top: 8px;">VS</div>
		<div id="cmhteam1">&larr; your team</div>
		<div id="cmhteam2">your team &rarr;</div>
		</td></tr></table>
		</div>
		<div id="cmmid">
		</div>
		
	</div>
	<div id="cright">
		<div id="crhead">
		<table height=100% width=100%><tr><td class="teamheader">Team Blue</td></tr></table>
		</div>
		<div id="crmid" class="teamlist">
		{% for player in t2users %}
		<div>{{ player.username }}</div>
		{% endfor %}
		
		</div>
	</div>
<input type=button value="Swap teams" onclick="gameSwapTeams();">
</div>
{% endblock %}